# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Idle_Game.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\Desktop\Idle_Game\.idea\.idea.Idle_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
